body{
    background-size: cover;
 }
 .heading{
     font-size:30px;
     width:100%;
     margin:0px;
     box-shadow:3px 3px 3px rgba(21, 20, 21, 0.913);
     
 }
 
 .note{
     font-size:15px;
     color:rgb(93, 6, 24)
 }
 
 .copy_right_footer{
 position:fixed;
 bottom:0;
 color:rgb(35, 35, 45);
 
 width:100%;
 line-height:5;
 text-align:left;
 font-size:15;
 }
 
 canvas{
     border:3px dotted grey;
 border-radius:20px;
 box-shadow:3px 3px 3px rgb(35, 35, 35);
 }